    body
	{
		margin: 0;
		padding: 0;
		font-family:arial;
		font-size:12px;
		line-height:14px;
		width:100%;
		height:100%;
	}
	header{margin:0;padding:0;text-align:center; background-color:#EDEDED;height:50px;}
	header h2 {margin:0;padding:0;color:inherit;line-height:34px;}
	nav{
		height:16px;
		vertical-align:center;
		display:block;
		width:100%;
	}
	
	#menu ul {
    	padding:0px;
    	margin:0px;
    	background-color:#EDEDED;
    	list-style:none;
		text-align: center;
    }
	#menu ul li { 
		display: inline-block;
	}
	#menu ul li a {
    	padding: 2px 10px;
    	display: inline-block;
     
    	/* visual do link */
    	background-color:#EDEDED;
    	color: #333;
    	text-decoration: none;
    	border-bottom:3px solid #EDEDED;
    }
	#menu ul li a:hover{
		color: #c4c4c4;
	}
	main{
		margin:10px;
		padding:0px;
		overflow:hidden;
		width:98%;
		height:auto;
	}
	#clock_container{
		width: 100%;
		height: 115px;
		/*background-color:red;*/
	}
	#calendar_container{
		width: 100%;
		min-height: 325px;
		overflow:hidden;
		/*background-color:green;*/
	}
	#calendar{
		width: 100%;
		overflow:hidden;
	}
	footer{margin:0;padding:0; background-color:#EDEDED;width:100%;height:25px;line-height:20px; text-align:center;}
	footer  p{margin:0;padding:0;}